@import "tailwindcss";

:root {
  --bg-primary-color: #111828;
  --text-primary-color: #e6e6e6;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

/* Tailwind dark mode configuration */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}